.event-content {
    --background: var(--ion-color-light);
    padding: 16px;
  }
  
  .event-card {
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin: 12px 0;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .event-card:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
  }
  
  ion-card-title {
    color: var(--ion-color-primary);
    font-weight: bold;
    font-size: 1.2rem;
  }
  
  ion-card-subtitle {
    color: black;
    font-size: 0.9rem;
  }
  
  ion-card-content p {
    color: var(--ion-color-dark);
    font-size: 1rem;
    text-align: justify;
  }
  