<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Sign Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="onSignup()">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Username</ion-label>
        <ion-input type="text" [(ngModel)]="signupData.username" name="username" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" [(ngModel)]="signupData.email" name="email" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" [(ngModel)]="signupData.password" name="password" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Confirm Password</ion-label>
        <ion-input type="password" [(ngModel)]="signupData.confirmPassword" name="confirmPassword" required></ion-input>
      </ion-item>
    </ion-list>
    <ion-button expand="full" type="submit">Sign Up</ion-button>
    <ion-button expand="full" color="light" (click)="navigateToLogin()">Already have an account? Log In</ion-button>
  </form>
</ion-content>
