:root {
    --ion-color-primary:  #652E89;   /* Purple color */
    --ion-color-secondary: #fdb849; /* Orange color */
    --ion-color-primary-contrast: #ffffff;
    --ion-color-secondary-contrast: #ffffff;
  }
  