<ion-content>

  <!-- Guide Section -->
  <div *ngIf="currentStep === 'guide'" class="guide-section">
    <ion-card class="guide-card">
      <ion-card-header>
        <ion-card-title>Let's Find Your Perfect Match</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p class="guide-description">
          Nativity's Shelter assists adopters in Puerto Princesa City, Palawan to find their perfect match of cats or dogs in three easy steps:
        </p>
        <ion-list>
          <ion-item>
            <ion-icon name="document-text-outline" slot="start"></ion-icon>
            <ion-label>Submit required documents</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="clipboard-outline" slot="start"></ion-icon>
            <ion-label>Complete the matching survey</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="calendar-outline" slot="start"></ion-icon>
            <ion-label>Schedule an ocular visit</ion-label>
          </ion-item>
        </ion-list>
        <br>
        <ion-button expand="full" color="secondary" (click)="startAdoption()">Start Adoption</ion-button>
        <br>
        <h2>Adoption Requirements</h2>
        <ion-list class="requirements-list">
          <ion-item *ngFor="let requirement of requirements">
            <ion-icon name="checkmark-circle-outline" slot="start" color="success"></ion-icon>
            <ion-label>{{ requirement }}</ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>

  <!-- Document Upload Section -->
  <div *ngIf="currentStep === 'documents'" class="questionnaire-section">
    <ion-card class="document-upload-card">
      <div class="cancel-button" (click)="goToGuide()">
        <ion-icon name="close-outline"></ion-icon>
      </div>
      <ion-card-header>
        <ion-card-title>Your Pet Adoption Documents</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Upload the required documents for pet adoption.</p>
        <ion-list>
          <ion-item *ngFor="let doc of documentList">
            <ion-label>{{ doc.name }}</ion-label>
            <ion-button color="secondary" (click)="uploadDocument(doc.name)">Choose File</ion-button>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>

    <ion-button expand="full" color="secondary" (click)="prevStep()">Previous</ion-button>
    <ion-button expand="full" color="primary" (click)="nextStep()">Next</ion-button>
  </div>

<!-- Adopter Questionnaire Section -->
<div *ngIf="currentStep === 'survey'" class="questionnaire-section">
  <ion-card class="questionnaire-card">
    <div class="cancel-button" (click)="goToGuide()">
      <ion-icon name="close-outline"></ion-icon>
    </div>
    <ion-card-header>
      <ion-card-title>Your Pet Adopter Questionnaire</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="indicator">
        <span>Questionnaire Progress: {{currentQuestionIndex + 1}} / {{totalQuestions}}</span>
      </div>
      <ion-list>
        <ion-item *ngFor="let question of questions">
          <ion-label>{{ question.question }}</ion-label>
          <ion-select placeholder="Select Option">
            <ion-select-option *ngFor="let option of question.options">{{ option }}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-button expand="full" color="primary" (click)="submitSurvey()">Submit</ion-button>
  <ion-button expand="full" color="secondary" (click)="prevStep()">Previous</ion-button>
</div>

<!-- Thank You Section -->
<div *ngIf="currentStep === 'thank-you'" class="thank-you-section">
  <ion-card class="thank-you-card" color="light">
    <div class="cancel-button" (click)="goToGuide()">
      <ion-icon name="close-outline"></ion-icon>
    </div>
    <ion-card-content text-center>
      <ion-icon name="checkmark-circle-outline" size="large" color="success"></ion-icon>
      <h2>Thank you!</h2>
      <p>Your adoption application has been submitted.</p>
    </ion-card-content>
  </ion-card>
  <ion-button expand="full" color="primary" (click)="goToGuide()">Okay</ion-button>
</div>

</ion-content>
