
/* Avatar styles */
.avatar-icon {
  width: 50px; /*Avatar Size */
  height: 50px;
  cursor: pointer;
  margin-left: 15px;
}

.ion-avatar img {
  border: 4px solid #fdb849; /* Border on Avatar */
  border-radius: 50%; /* Circle */
  object-fit: cover;
  width: 60px; /* Size for avatar*/
  height: 60px;
}

/* Profile Name and Email in Menu */
.ion-label {
  font-size: 1.1rem;
  font-weight: bold;
  color: #333; 
  margin-left: 15px;
  margin-top: 10px;
  text-align: left;
}

.ion-label p {
  font-size: 0.8rem;
  font-weight: normal;
  color: #777; 
}

/* Notification icon style */
.notification-icon {
  font-size: 22px !important;
  margin-right: 15px;
  color: white;
}

/* Add subtle shadow to the menu container for depth */
ion-menu {
  overflow: hidden;
}

.menu-header-bg {
  height: 200px;
  width: 350px;
  background: #652E89;
  box-shadow: 0px 1px 10px rgba(210, 98, 255, 0.5);
  transform: rotate(-15deg);
  border-radius: 10px 10px 10px 50px;
  margin-left: -18px;
  margin-top: -50px;
  margin-bottom: 60px;
}

.header-content {
  position: absolute;
  top: 30px;
  left: 15px;
  display: flex;
  align-items: center;

  img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 7px solid #48106d;
    margin-right: 14px;
  }

  h2 {
    font-weight: 500;
    color: white;
    font-size: 16px;
  }

  p {
    font-weight: 500;
    color: #e4e4e4;
    font-size: 12px;
    letter-spacing: 0.4px;
  }
}

.menu-items {
  margin: 0px;
  font-family: "Plus Jakarta Sans";

  ion-icon {
    margin-right: 20px;
    color: #652E89;

  }

  ion-label {
    font-family: "Plus Jakarta Sans";
  }

  ion-item {
    margin-bottom: 10px;
    padding-left: 5px;
  }

  .active {
    border-left: 5px solid;
    color: #652E89;
    padding-left: 5px;

    ion-icon {
      color: #652E89;
    }
  }
}

ion-header {
  ion-toolbar {
   background: transparent;
  }
}

.search-container {
  padding-right: 12px; /* Adjust padding as needed */
}

.custom-search {
  --background: #f0f0f08e; /* Background color */
  --border-radius: 15px; /* Rounded corners */
  --padding-start: 16px; /* Left padding */
  --padding-end: 16px; /* Right padding */
  --color: #333; /* Input text color */
  

  margin-top: 10px;
}

ion-title {
  font-weight: 640;
  text-align: center;
}

/* Bottom Navigation Tabs hover */
ion-tab-button:hover,
ion-tab-button:focus,
ion-tab-button.activated {
  background-color: #fdb849; /* Highlight color on hover/click */
  color: white;
  border-radius: 10px; /* Smooth corners */
  transition: background-color 0.3s ease;
}

ion-tab-button:hover ion-icon,
ion-tab-button:focus ion-icon,
ion-tab-button.activated ion-icon {
  color: white; /* Change icon color on hover/click */
}

ion-tab-button:hover ion-label,
ion-tab-button:focus ion-label,
ion-tab-button.activated ion-label {
  color: white; /* Change label text color on hover/click */
}
